@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #000;
  font-family: Montserrat;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #F9F6F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 15px;
  margin: 0px auto;
}

.button {
  color: #fff;
  background-color: #D7B399;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: #F9F6F1;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 139px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon-logo {
  font-size: 40px;
  margin: 0px 20px 0px 0px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 44px;
  z-index: 1;
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 75px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 1;
}

.text__logo {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
  font-style: normal;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: auto;
}

.menu__icon {
  display: none;
}

.menu__right {
  margin: 0px 0px 0px 90px;
}

.menu__list > li {
  position: relative;
}

.menu__item:not(:last-child) {
  margin: 0px 35px 0px 0px;
}

.menu__link {
  color: #212121;
  font-weight: 500;
  line-height: calc(17 / 14 * 100%);
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: #FFF;
  padding: 15px;
  min-width: 120px;
}

.menu__sub-list li:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.menu__sub-link {
  color: #212121;
  font-weight: 500;
  line-height: calc(17 / 14 * 100%);
}

.menu__sub-link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

.cart__decoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

._icon-cart {
  color: #212121;
  font-size: 30px;
}

._icon-five {
  font-size: 18px;
}

.text__cart {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  margin: auto 0px auto -24px;
}

@media (max-width: 1129px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 0px 30px;
  }
  .header__cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 0px 40px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .menu__right {
    margin: 0px 0px 0px 60px;
  }
  .menu__item:not(:last-child) {
    margin: 0px 35px 0px 0px;
  }
  ._icon-cart {
    margin: 0px 10px 0px 0px;
  }
}

@media (max-width: 1023px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 0px 10px;
  }
  .header__cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 0px 40px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .menu__right {
    margin: 0px 0px 0px 40px;
  }
  .menu__item:not(:last-child) {
    margin: 0px 15px 0px 0px;
  }
  ._icon-cart {
    margin: 0px 10px 0px 0px;
  }
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(10px, 0px);
          transform: translate(10px, 0px);
  pointer-events: all;
}

.menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #212121;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(10px, 0px);
          transform: translate(10px, 0px);
  pointer-events: all;
}

.menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media (min-width: 899px) {
  .menu__link-burger {
    display: none;
    margin: 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 899px) {
  .header__container {
    min-height: 75px;
  }
  .header__logo {
    -webkit-transform: translate(-30%, 0px);
            transform: translate(-30%, 0px);
  }
  .header__cart {
    margin: 0px;
  }
  .header__icon-logo {
    margin: 0px 7px 0px 0px;
  }
  ._icon-cart {
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }
  .menu__right {
    display: none;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transform: translate(230px, 0px);
            transform: translate(230px, 0px);
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #212121;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    background-color: #F9F6F1;
    z-index: 2;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__list > li:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #212121;
  }
  .menu__sub-list {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }
  .menu__sub-link {
    font-size: 20px;
  }
  .cart__decoration {
    display: none;
  }
}

.main-block {
  position: relative;
  padding: 250px 0px 5px 0px;
}

.main-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-block__item-1 {
  max-width: 532px;
}

.main-block__title {
  font-size: 30px;
  line-height: 123%;
  letter-spacing: 0.02em;
  color: #000;
  margin: 0px 0px 29px 0px;
}

.main-block__text {
  font-weight: 700;
  font-size: 54px;
  line-height: 123%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0px 0px 35px 0px;
}

.main-block__button {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 18px 30px;
  min-height: 55px;
  z-index: 3;
}

.main-block__item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 556px;
  -webkit-transform: translate(3%, 0px);
          transform: translate(3%, 0px);
}

.main-block__text-discount {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: right;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  margin: 0px 0px 14px 0px;
}

.main-block__text-price {
  font-weight: 700;
  font-size: 42px;
  line-height: 121%;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #D84033;
}

.main-block__img {
  position: relative;
  -webkit-transform: translate(0px, -35%);
          transform: translate(0px, -35%);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main-block__img img {
  max-width: 556px;
}

@media (max-width: 1129px) {
  .main-block__text {
    font-weight: 700;
  }
  .main-block__item-2 {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .main-block__img {
    -webkit-transform: translate(5%, -35%);
            transform: translate(5%, -35%);
    max-width: 450px;
  }
}

@media (max-width: 1023px) {
  .main-block__text {
    font-size: 42px;
  }
}

@media (max-width: 899px) {
  .main-block {
    padding: 120px 0px 0px 0px;
  }
  .main-block__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-block__item-1 {
    text-align: center;
  }
  .main-block__title {
    margin: 0px 0px 25px 0px;
  }
  .main-block__text {
    margin: 0px 0px 25px 0px;
  }
  .main-block__button {
    margin: 0px 0px 25px 0px;
  }
  .main-block__text-discount {
    margin: 0px 0px 4px 0px;
  }
}

@media (max-width: 499px) {
  .main-block__title {
    font-size: 25px;
  }
  .main-block__text {
    font-size: 34px;
  }
  .main-block__text-discount {
    font-size: 20px;
  }
  .main-block__text-price {
    font-size: 30px;
  }
  .main-block__img {
    -webkit-transform: translate(0%, -35%);
            transform: translate(0%, -35%);
    max-width: 300px;
  }
}

@media (max-width: 379px) {
  .main-block__text {
    font-size: 30px;
  }
  .main-block__img {
    -webkit-transform: translate(0%, -35%);
            transform: translate(0%, -35%);
    max-width: 280px;
  }
}

.services {
  position: relative;
  background-color: #212121;
  padding: 80px 0px 70px 0px;
}

.services__container {
  max-height: 235px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 123%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin: 0px 0px 23px 0px;
}

.services__title-check {
  font-weight: 400;
  display: inline;
}

.services__text {
  font-weight: 300;
  font-size: 21px;
  line-height: 123%;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 899px) {
  .services {
    padding: 60px 0px 60px 0px;
  }
  .services__title {
    font-size: 23px;
  }
}

.collection__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collection__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-height: 250px;
}

._icon-arrow {
  font-size: 8px;
}

.item-collection__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-collection__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 0px 30px;
}

.item-collection__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 60px 0px 0px 0px;
}

.item-collection__title-sub {
  font-weight: 300;
  display: inline;
}

.item-collection__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  margin: 20px 0px 0px 0px;
}

.item-collection__button {
  padding: 12px 30px;
  min-width: 30px;
  margin: 35px 0px 0px 0px;
}

.item-collection__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
  background-color: #F9F6F1;
  margin: 80px 0px 0px 0px;
}

@media (max-width: 899px) {
  .collection__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item-collection__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 190px;
            flex: 0 0 190px;
    margin: 80px 0px 0px 0px;
  }
}

@media (max-width: 549px) {
  .collection__column {
    max-height: 400px;
  }
  .collection__body {
    margin: 0px 0px 0px 0px;
  }
  .item-collection__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item-collection__title {
    margin: 30px 0px 0px 0px;
  }
  .item-collection__image {
    margin: -50px 0px 0px 0px;
    max-width: 190px;
    -webkit-transform: translate(60%, 0px);
            transform: translate(60%, 0px);
  }
}

.model {
  background-color: #fff;
  padding: 150px 0px;
}

.model__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
  margin: 0px 0px 85px 0px;
}

.model__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 45px;
  margin: 0px -45px;
}

.model__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 15px 15px;
}

.model__button-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.model__button {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  margin: 114px 0px 0px 0px;
  padding: 17px 35px;
}

.model__icon-arrow {
  margin: 0px 0px 0px 9px;
}

.item-model__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-model__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-model__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 25px 0px 0px 0px;
}

.item-model__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 205px;
          flex: 0 0 205px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-model__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 121%;
  text-align: center;
}

.item-model__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #D7B399;
  margin: 10px 0px 0px 0px;
}

.line__item-01 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.line__item-02 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.line__item-03 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.line__item-04 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line-01 {
  width: 0;
  height: 0;
  border-right: 25px solid #D7B399;
  border-bottom: 3px solid #D7B399;
}

.line-02 {
  width: 0;
  height: 0;
  border-right: 3px solid #D7B399;
  border-top: 20px solid #D7B399;
}

@media (max-width: 999px) {
  .model {
    padding: 100px 0px;
  }
  .model__title {
    margin: 0px 0px 50px 0px;
  }
  .model__button {
    margin: 50px 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  .model {
    padding: 50px 0px;
  }
}

.footer__top {
  background-color: #212121;
  padding: 80px 0px;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 200px 0px 0px;
}

.footer__logo img {
  margin: 0px 20px 0px 0px;
  max-width: 40px;
}

.footer__label {
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px 0px 20px 0px;
}

.footer__bottom {
  background-color: #FFF;
  padding: 30px 0px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__copy {
  font-size: 14px;
  line-height: 157%;
  color: #212121;
}

.footer__text {
  font-size: 14px;
  line-height: 157%;
  color: #212121;
}

._icon-vk-com {
  font-size: 10px;
}

.footer-text__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: auto 0px;
}

.menu-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.menu-footer__link {
  font-size: 14px;
  line-height: 157%;
  color: #CBCFD4;
}

.menu-footer__icon {
  margin: 0px 5px 0px 0px;
}

.column__item-01 {
  margin: 0px 84px 0px 0px;
}

.column__item-02 {
  margin: 0px 76px 0px 0px;
}

.column__item-03 {
  margin: 0px 53px 0px 0px;
}

@media (max-width: 1129px) {
  .footer__logo {
    margin: 0px 100px 0px 0px;
  }
}

@media (max-width: 1023px) {
  .footer__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__logo {
    margin: 0px 50px 0px 0px;
  }
  .footer__column {
    padding: 20px;
  }
  .column__item-01 {
    margin: 0px 84px 0px 0px;
  }
  .column__item-02 {
    margin: 0px 76px 0px 0px;
  }
  .column__item-03 {
    margin: 0px 53px 0px 0px;
  }
  .column__item-04 {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  .footer__top {
    padding: 50px 0px;
  }
  .footer__bottom {
    padding: 15px 0px;
  }
}

@media (max-width: 509px) {
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
