.collection {
   &__row {
      display: flex;
   }
   &__column {
      flex: 0 1 50%;
      max-height: 250px;
   }
}
._icon-arrow {
   font-size: 8px;
}
.item-collection {
   &__row {
      display: flex;
   }
   &__body {
      flex: 1 1 auto;
      margin: 0px 0px 0px 30px;
   }
   &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin: 60px 0px 0px 0px;
   }
   &__title-sub {
      font-weight: 300;
      display: inline;
   }
   &__text {
      font-weight: 300;
      font-size: 16px;
      line-height: 125%;
      margin: 20px 0px 0px 0px;
   }
   &__button {
      padding: 12px 30px;
      min-width: 30px;
      margin: 35px 0px 0px 0px;
   }
   &__image {
      flex: 0 0 190px;
      background-color: #F9F6F1;
      margin: 80px 0px 0px 0px;
   }
}

@media (max-width: 899px) {
   .collection {
      &__row {
         flex-direction: column;
         align-items: center;
      }
   }
   .item-collection {
      &__image {
         flex: 0 0 190px;
         margin: 80px 0px 0px 0px;
      }
   }
}

@media (max-width: 549px) {
   .collection {
      &__column {
         max-height: 400px;
      }
      &__body {
         margin: 0px 0px 0px 0px;
      }
   }
   .item-collection {
      &__row {
         flex-direction: column;
      }
      &__title {
         margin: 30px 0px 0px 0px;
      }
      &__image {
         margin: -50px 0px 0px 0px;
         max-width: 190px;
         transform: translate(60%, 0px);
      }
   }
}
